body {
    background-color: #d6eaf8;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    background-color: #fff;
}

input:focus,
select:focus {
    border-color: #64b5f6;
    box-shadow: 0 0 5px rgba(100, 181, 246, 0.5);
}

button {
    width: 100%;
    padding: 15px;
    background-color: #42a5f5;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background-color: #1e88e5;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    max-width: 400px;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
}
